body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0d0d0d;
  color: white;
}

section {
  padding: 80px 0;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

.impact,
.highlight,
.cta,
.refs {
  text-align: center;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.hero {
  text-align: center;
  height: 90vh;
  display: flex;
  align-items: center;
  padding: 50px;
  background: linear-gradient(135deg, #00ff88, #003d2b);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.impact,
.highlight,
.cta,
.logos,
.refs {
  text-align: center;
}

button {
  background: #00ff88;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.logos {
  background: #ffffff;
  padding: 70px 20px;
  text-align: center;
}

.logos-title {
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}

.logos-container img {
  height: 60px; /* maior */
  object-fit: contain;
  transition: 0.3s;
}

/* efeito premium */
.logos-container img:hover {
  transform: scale(1.1);
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background: #00ff88;
  color: black;
}

.highlight {
  background: #111;
  padding: 50px;
}

.cta {
  background: #00ff88;
  color: black;
  padding: 50px;
  text-align: center;
}

.refs {
  padding: 50px;
  background: #111;
}